div
    img#avatar.left(width='150', height='150', alt='avatar', ng-src='{{ avatarImgPrefix }}{{ user.avatarUrl }}')
    #general-info.left
        p.name {{ user.username }}
        p
            span.title Поща
            | {{ user.email }}
        p
            span.title Постове
            | {{ user.posts }}
        p
            span.title Рейтинг
            | {{ user.rating }}
        p(ng-hide="isUserDetails")
            a(href='#/edit-profile') Редакция
        p(ng-show="isUserDetails")
            span.link(ng-click="mute()", ng-hide="user.isMuted") Заглуши
            span.link(ng-click="unmute()", ng-show="user.isMuted") Отглуши
