extends includes/layout
block main-content
    div(header)
    section#main
        div(ng-view)
    footer#footer
        p 2015 &copy; Баси Големеа Фийд Чуек
        p.small Проект на Стефан Синапов и Георги Серев
        p.small Основи на NoSQL базите от данни с MongoDB 2014/2015
        p
            a(href='https://github.com/StefanSinapov/Newsfeed', target='_blank') GitHub Repo