extends includes/layout
block main-content
    header.nav.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="#/") NewsFeed
            .navbar-collapse.collapse.navbar-responsive-collapse
                div(auth-bar)
    section
        div(ng-view)
    footer.panel-footer
        p.text-center.text-primary
            | &copy; &nbsp;
            span
                a(href="https://github.com/StefanSinapov/NewsFeed")
                    | Open Source Project