.ov-hidden
    span.title Потребители
        .right
            input(type='text', placeholder='' ng-model="username")
            | &nbsp;
            button(ng-click='search(username)') Търси
hr

div(ng-repeat="member in members")
    .user-thumb
        img(src='{{ avatarImgPrefix }}{{ member.avatarUrl }}', width='40', height='40', alt='')
        br
        a(href='#/member/{{ member.username }}') {{member.username}}
        br
        span.small {{member.stats.rating | number:2 }} рейт
        br
        span.small {{member.stats.likes}} лайка
        br
        span.small {{member.stats.blocked}} заглушавяния
