.ov-hidden
    span.title Потребители
        .right
            input(type='text', placeholder='')
            | &nbsp;
            button Търси
hr
.user-thumb
    img(src='http://gwally.com/avatars/images/space_skeleton_150.jpg', width='40', height='40', alt='')
    br
    a(href='') Pesho_kalibrata
    br
    span.small 123 поста
