script(type="text/javascript" src="/lib/jquery/dist/jquery.js")
script(type="text/javascript" src="/lib/toastr/toastr.js")
script(type="text/javascript" src="/lib/angular/angular.js")
script(type="text/javascript" src="/lib/angular-resource/angular-resource.js")
script(type="text/javascript" src="/lib/angular-route/angular-route.js")

//script(type="text/javascript" src="https://cdn.socket.io/socket.io-1.1.0.js")
script(type="text/javascript" src="/lib/socket.io-client/socket.io.js")

script(type="text/javascript" src="/app/app.js")
script(type="text/javascript" src="/app/main/controllers/MainCtrl.js")

script(type="text/javascript" src="/app/feed/controllers/MessagesCtrl.js")
script(type="text/javascript" src="/app/feed/services/messageService.js")

script(type="text/javascript" src="/app/account/controllers/LoginCtrl.js")
script(type="text/javascript" src="/app/account/controllers/ProfileCtrl.js")
script(type="text/javascript" src="/app/account/controllers/SignUpCtrl.js")
script(type="text/javascript" src="/app/account/directives/header.js")
script(type="text/javascript" src="/app/account/directives/avatarUpload.js")
script(type="text/javascript" src="/app/account/directives/loginForm.js")
script(type="text/javascript" src="/app/account/services/auth.js")
script(type="text/javascript" src="/app/account/services/identity.js")
script(type="text/javascript" src="/app/account/services/usersResource.js")
script(type="text/javascript" src="/app/account/services/usersData.js")

script(type="text/javascript" src="/app/members/controllers/MembersCtrl.js")
script(type="text/javascript" src="/app/members/controllers/MemberDetailsCtrl.js")
script(type="text/javascript" src="/app/members/services/membersResource.js")

script(type="text/javascript" src="app/common/notifier.js")
script(type="text/javascript" src="app/common/directives/autofocus.js")
script(type="text/javascript" src="app/common/directives/fileModel.js")
script(type="text/javascript" src="app/common/directives/userDetails.js")
script(type="text/javascript" src="app/common/services/globals.js")
script(type="text/javascript" src="app/common/services/sockets.js")
