header#header(ng-class="{ home: !identity.isAuthenticated() }")
    a.neutral(href="#/")
        img#logo(src='images/logo.png', width='175', height='57', alt='logo')
    .right(ng-show="identity.isAuthenticated()")
        #options
            a.block.button.users(title='Потребители', href="#/members")
            .button.notific(title='Известявания')
                .counter 34
            .button.logout(title='Излео', ng-controller="LoginCtrl", ng-click="logout()")
        a.neutral(href="#/profile")
            img#prof-thumb(ng-src='{{ avatarImgPrefix }}{{ identity.currentUser.avatarUrl }}', width='48', height='48', alt="")