header#header(ng-controller="LoginCtrl", ng-class="{ home: !identity.isAuthenticated() }")
    a.neutral(href="#/")
        img#logo(src='images/logo.png', width='175', height='57', alt='logo')
    .right(ng-show="identity.isAuthenticated()")
        #options
            .button.users(title='Потребители')
            .button.notific(title='Известявания')
                .counter 34
            .button.logout(title='Излео', ng-click="logout()")
        a.neutral(href="#/profile")
            img#prof-thumb(src='http://gwally.com/avatars/images/space_skeleton_150.jpg', width='48', height='48', alt="")