img#avatar.left(src='http://gwally.com/avatars/images/space_skeleton_150.jpg', width='150', height='150', alt='avatar', ng-src='{{ avatarImgPrefix }}{{ user.avatarUrl }}')
#general-info.left
    p.name {{ user.username }}
    p
        span.title Поща
        | {{ user.email }}
    p
        span.title Постове
        | {{ user.posts }}
    p
        span.title Рейтинг
        | {{ user.rating }}
    p
        a(href='#/edit-profile') Редакция