form#auth-form(ng-controller="SignUpCtrl", name="signUpForm")
    fieldset
        legend Регистрирване
        div
            input(type='text', placeholder='Потребител', ng-model="user.username", required="required")
        div
            input(type='email', placeholder='Емайл', ng-model="user.email", required="required")
        div
            input(type='password', placeholder='Парола', ng-model="user.password", ng-minlength="4", ng-maxlength="20", required="required")
        div
            input(type='password', placeholder='Я повтори пак', ng-model="user.confirmPassword", ng-minlength="4", ng-maxlength="20", required="required")
        div
            button(type='submit', ng-click='signup(user, signUpForm)') Регистрирвай се
