div(ng-controller="LoginCtrl")
    div(ng-hide="identity.isAuthenticated()")
        div(login-form)
    div(ng-show="identity.isAuthenticated()" ng-controller="MessagesCtrl")
        #status
            textarea#status-field(rows='1', placeholder='Мисълта ти' ng-model="message.content" required="")
            button(ng-click='send(message)') Сп&ograve;дели
        hr
        //article.status
        //    .usr-info
        //        img.left(src='http://gwally.com/avatars/images/space_skeleton_150.jpg', width='35', height='35', alt='')
        //        p.info
        //            a(href='') pesho_calibrata
        //            br
        //            span.small 123 поста
        //            span.small 15 рейт
        //        .right
        //            p.likes-num 52
        //            .stat-btn.like(title='Харесай')
        //            .stat-btn.mute(title='Заглуши')
        //    .content
        //        | Test 1 2 3 яаояаоояоаиш sfdsfs e wr
        //        a(href='') #tag
        div(ng-repeat="message in messages")
            article.status
                .usr-info
                    img.left(src='{{ avatarImgPrefix }}{{ message.avatarUrl }}', width='35', height='35', alt='')
                    p.info
                        a(href='') {{message.username}}
                        br
                        span.small 123 поста
                        span.small 15 рейт
                    .right
                        p.likes-num {{message.likes.length}}
                        .stat-btn.like(title='Харесай' ng-click='likeMessage(message._id)')
                        .stat-btn.mute(title='Заглуши' ng-click='blockUser(message.username)')
                .content
                    | {{message.content}}
        button(ng-click='loadMore(messages.length)' ng-show='messages.length % 20 === 0') Зареди още